body {
  font-family: "Kanit", sans-serif;
  text-align: center;
  background-color: #ffe6f0;
  color: #333;
  padding: 20px;
}

.image-container {
  width: 300px;
  height: 300px;
  border: 3px dashed #ff99cc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 15px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  display: none;
}

#progress-bars {
  width: 80%;
  margin: 20px auto;
  text-align: left;
}

.progress-container {
  margin: 10px 0;
}

.progress-label {
  font-weight: bold;
  margin-bottom: 3px;
  display: block;
}

.progress-bar {
  height: 20px;
  background-color: #ffb6c1;
  border-radius: 10px;
  transition: width 0.5s;
}
